$principal-color: rgb(186, 17, 59);

$colores-otros: white, #800000, #9b2e3d;
@use 'sass:list';

@mixin flex ($flex, $row, $aling, $justify) {
    display: $flex;
    flex-direction: $row;
    align-items: $aling;
    justify-content: $justify;
}

.hero{
    @include flex(flex,column ,center ,center);
    width: 0%;
    padding: 0%;
}

.menu{
    nav{
        @include flex(flex, row, center, space-between)
    }
}

.taylor{
    @include flex(flex,column,center ,center );
    flex-wrap: wrap;
}

.carta {
    @include flex (flex, row, center, center);
    border: list.nth($list: $colores-otros, $n:2) solid 1px;
    padding: 0%;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 1px;
    margin-right: 1px;
    width: 100%;

}

.oned {
    @include flex (flex, row, center, center);
}

.oned-opciones {
    @include flex (flex, row, center, space-between);
}

.citas {
    @include flex (flex, row, none, space-around)
}

.playlists {
    @include flex (flex, row, center, center)
}
